.conjuguer{
    color: #fff;
    padding: 5px;
    background-color: #d25807;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.cont{
    font-size: 18px;
    padding-left: 5px;
}